<% include partials/header %>

<div class="container content-container">
    <h2 class="m-2">Welcome to your dashboard <%-userName%></h2>
    <button class="btn btn-warning"><a href="/dashboard/testCollection">Test Collection View</a></button>
</div>

<% include partials/footer %>