<% include partials/header %>

<div class="container-fluid content-container">
    <h2 class="m-2">Welcome to your dashboard <%-userName%></h2>
    <form action="/dashboard/editCollection" method="POST">
        <input class="m-2" type="text" placeholder="enter name" name="searchKey">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>

<% include partials/footer %>