<% include partials/header %>

<div class="container-fluid content-container">
    <h2 class="m-2">Welcome to your dashboard <%-userName%></h2>
    <div class="group-container container col-10">
        
    </div>
</div>

<% include partials/footer %>