<% include partials/header %>

<!-- SHOW GROUPS -->
<div class="container content-container">
    <h1>Welcome.</h1>
    <!-- link to edit cards page -->
    <a href="/dashboard/allCollections"><button class="m-3 btn btn-outline-warning font-weight-bold" type="submit">Edit
        Collection</button></a>
</div>

<!-- SHOW ALL CARDS -->
<div class="container m-3">
    
</div> <!-- END SHOW ALL CARDS -->


<% include partials/footer %>