<% include partials/header %>

 
		<div class ="container-fluid">
			<div class="row">
				<div class= "col-md-12">
					<div class= "card-body" role="primary">
						<div>
							<h1 class="animate-pop-in indexh1">
								Welcome to TheShuffling!
							</h1>
							
							<p class="animate-pop-in indexh1">
								Your needs of managing your collections are here
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>



<style>	
	body {
		background-image: url("https://wallpaperplay.com/walls/full/d/f/5/211210.jpg")   
		/* 	later add the image locally to the server instead of linking to it	 */
	}
</style>
