<% include partials/header %>

	<body onload ="/userDeck/deck">
		<div class="container-fluid">
			<div class ="row">
				<div class = "col-md-4">

				</div>

				<div class ="col-md-4">

					<h1 class="loading">
						Please wait while your deck data is being loaded
					</h1>

					<div class = "loader">

					</div>

				</div>

				<div class ="col-md-4">


				</div>
			</div>
		</div>
	</body>

<script>
	
/* Loading screen redirects only for this page */
	
var myVar;

function myLoader(){
	myVar = setTimeout(showPage, 3000);
}
function showPage(){
	document.getElementById("loader").style.display = "none";
	document.getElementById("loader").style.display = "block";
}


</script>
<% include partials/footer %>