<% include partials/header %>
<body class = "login-background">
	

	<div class ="container">
		<div class ="row card-body">

				<div class ="col-lg-4">


				</div>		

				<div class ="col-lg-4">
					<h1 class = "white">
						Sign into your account to view your collections
					</h1>
					<!-- 		google sign in button		 -->
					<form method="GET" action="/auth/google">
						<button type="submit" class="btn btn-success g-signin2">
							Sign in with Google
						</button>

					</form>
				</div>

				<div class ="col-lg-4">

				</div>

		</div>
	</div>
</body>
<% include partials/footer %>