<% include partials/header %>


<h1>
	Sign-Up Form
</h1>
<div class="content-container">
	<form action="/register" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="password" name="passConfirm" placeholder="confirm your password">
		<button>
			Submit
		</button>
	</form>
</div>



<% include partials/footer %>