<% include partials/header %>

<!-- user-deck-container -->
<div class="container content-container">
    <h1>Test Collection</h1>
    <form action="/dashboard/testCollection" method="POST">
        <input type="text" name="searchkey" value="Legendary">
        <button class="btn btn-success" type="submit" name="searchKey">Search</button>
    </form>

    <div class="container">

    </div>
</div>

<!-- end user-deck-container -->

<% include partials/footer %>