<% include partials/header %>

<div class ="container">
	<div class ="row card-body">
	
		<div class ="col-lg-4">
			<!-- <h5 id = "login-header" class="text-white">
				Sign into your account to view your collections
			</h5> -->
			<!-- 		google sign in button		 -->
			 <button class="btn btn-light bg-primary"><img id="google-logo" class="float-left" src="/images/google-g-2015.svg"><a href="/auth/google" class="ml-1 text-white h6">Register or Sign In with Google</a></button>
		</div>
	</div>
</div>
<% include partials/footer %>