<% include partials/header %>

<div class="content-container">
    <h1 class="m-2">Welcome to your <%-userName%></h1>
    <button class="m-2 btn btn-warning"><a href="./dashboard/userDecks">See Cards</a></button>
</div>

<% include partials/footer %>