<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="card-primary">
				<h1>
					Welcome to TheShuffling!
				</h1>
			</div>
		</div>
	</div>
</div>

<button class="m-2 btn btn-warning"><a href="./register">Register</a></button>
<button class="m-2 btn btn-warning"><a href="./dashboard">See Cards</a></button>

<% include partials/footer %>