<% include partials/_header %>
<h1>testing</h1>
<button><a href="./register">Sign Up</a></button>
<!-- populate database with cards -->
<form action="/getCards" method="POST">
    <input type="text" name="categoryName" placeholder="enter card criteria">
    <button type="submit"><a>get cards</a></button>
</form>

<!-- see cards in db -->
<button><a href="/userDeck">see cards</a></button>
<% include partials/_footer %>