<% include partials/_header %>
<h2>Register Here:</h2>
<form action="/register" method="POST">
    <input type="text" name="firstName" placeholder="Enter first name" />
    <input type="text" name="lastName" placeholder="Enter last name" />
    <input type="text" name="zipCode" placeholder="Enter zip code" />
    <button type="submit">Submit</button>
</form>
<% include partials/_footer %>