<% include partials/_header %>
<html lang="en">

<head>
	<title>TheShuffling</title>
	<!-- bootstrap cdn -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<body>

 
		<div class ="container-fluid">
			<div class="row">
				<div class= "col-md-12">
					<div class= "card-body" role="primary">
						<div>
							<h1 class="animate-pop-in">
								Welcome to TheShuffling!
							</h1>
							
							<p class="animate-pop-in">
								Your needs of managing your collections are here
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</body>
	

<style>
	 h1, p {
		align-items: center;
		color:white;
		display: flex;
		justify-content: center;
		/* transform-style: preserve 3D; */
		perspective: 100px;
	}
	 
	h1::before {
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)),
		url("https://wallpaperplay.com/walls/full/d/f/5/211210.jpg")
		content("");
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;	
		z-index: -1;
	}
	
	h1::after {
		background:F9FCFF;
		content: "";
		height: 40rem;
		left: -5%;
		position: absolute;
			right: -5%;
			left: 90%;
		transform-origin: 0 0;
		transform: rotateZ(-4deg);
		z-index: 0;
		
	}
	@-webkit-keyframes pop-in {
		0% { 
			opacity: 0;
			transform: translate(-4rem)scale(.8);
		}
		100% {
			opacity: 1;
			transform: none;
		}
	}
	
	.animate-pop-in {
		animation: pop-in 1s ease-out forwards;
		
	}
	body {
		background-image: url("https://wallpaperplay.com/walls/full/d/f/5/211210.jpg")
		
	}
	</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>