<% include partials/header %>


<div id = "index-background">
	<div class ="container">
		<div class ="row mt-5"> 	
			<div class= "col-lg-2 ">
			</div>
			
			<div class= "col-lg-8">
				<div class = "center animate-pop-in" style = "margin-top: 50px;">
					<h1>
						Welcome to TheShuffling!
					</h1>

					<p class="white">
						Your needs of managing your collections can finally be met
					</p>		
				</div>
			</div>
			
			<div class = "col-lg-2"></div>
			
			</div>	
		
		<div class ="row" style = "margin-top: 200px;">
			<div class= "col-lg-2">

			</div>

			<div class= "col-lg-8 ">
				<h3 class = "center animate-pop-in" style ="margin-top: 100px">
					Let's get started
				</h3>
			</div>	

			<div class = "col-lg-2">

			</div>
		</div>
	
			<div class ="row"> 	
				<div class= "col-lg-2">

				</div>
				<div class= "col-lg-8 center">
					
					<a href ="/collection/" class ="animate-pop-in btn btn-primary" style ="margin: 20px 10px 20px 0px;">View the Community's Collections</a>


				</div>

				<div class = "col-lg-2">

				</div>
		</div>
		
	</div>
</div>
<!-- End of the Kevins Background DIV 	 -->

<!-- <div class="row_1 container-fluid center" style = "margin-top: 100px;"> -->
<div class="d-flex justify-content-center">
	<div class="column">
		<section class = "section_3_1">
			<div class="m-3">
				<i class="fas fa-comments fa-10x text-white"></i>
			</div>
				<h4 id = "bottom">
					Global Chat For Networking
				</h4>
		</section>
	</div>
	<div class="column">
		<section class="section_3_2">
			<div class="mt-3">
				<i class="fas fa-book fa-10x m-3 text-white"></i>
			</div>
				<h4>
					Duplicate Your Magic Card Collection Digitally
				</h4>
		</section>
	</div>
	<div class="column">
		<section class="section_3_3">
			<div class="mt-3">
				<i class="fas fa-search fa-10x m-3 text-white"></i>
			</div>
			<div>
				<h3>
					Search for Magic Cards
				</h3>
			</div>
		</section>
	</div>


	<!-- Who we are -->
	<div class= "section_2">
		<div class= "section_text_2 center">
			<h1>
				About Us
			</h1>
			<h3>
				We are team  USS-Moon! 
			</h3>
		</div>
	</div>



<% include partials/footer %>
