<% include partials/header %>

<div id = "index-background">
	<div class ="container-fluid">
		<div class ="row"> 	

			<div class= "col-lg-2">
			</div>

			<div class= "col-lg-8">
				<div style = "text-align: center;">
					<h1 class="animate-pop-in indexh1">
						Welcome to TheShuffling!
					</h1>
					<p class="animate-pop-in indexh1">
						Your needs of managing your collections can finally be met
					</p>	
					<p>
						<a href ="/collection/" class ="animate-pop-in btn btn-primary">View Collections</a>
					</p>
				</div>
			</div>
			
			<div class = "col-lg-2">
		
				
			</div>
			
		</div>
	</div>
</div>

<% include partials/footer %>
