
</div>

<!-- Start the chat button -->
	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="mb-2 chat-popup" id="myForm">
	  	<form class="form-container">
			<section id="chatroom"></section>
			<section id="input_zone" style="d-flex"> 
				  <input id="message" class="vertical-align" type="text" >
				  <button id="send_message"  type="button">Send</button>
			</section>
	
		<button type="button" class="btn cancel mb-2 mt-1" onclick="closeForm()">Close</button>
		</form>
	</div>
				<!-- End the Chat button -->

<script>
	function openForm() {
	  document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
	  document.getElementById("myForm").style.display = "none";
	}
	</script>
	
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat_script.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- js for dashboard and edit collection -->
<script type="text/javascript" src="/js/collectionPublic.js"></script>
	<!-- main js page -->
	<script src="/js/main.js"></script>
	</body>
</html>