<% include partials/header %>

<div id = "index-background">
	<div class ="container-fluid">

		<div class ="row"> 

			<div class= "col-lg-2">

			</div>

			<div class= "col-lg-8">
				<div>
					<h1 class=" head1 animate-pop-in">
						Welcome to TheShuffling!
					</h1>

					<p class="delay1 animate-pop-in">
						Your needs of managing your collections are here
					</p>


					<p>
						<a href ="/collection/" class ="btn btn-primary">View Collections</a>
					</p>
					
					<p>
						<a class="btn btn-sm btn-primary" href="/auth/google">Login/Register</a>
					</p>

				</div>

			</div>

			<div class= "col-lg-2">

			</div>

		</div>
		<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  		Popover on top
		</button>
		
	</div>
</div>



<% include partials/footer %>
