//  variables //
$text-color: white;
$dark-bg: #121212;
$primary-dark-container: #1d1d1d;
$secondary-dark-container: #363636;
$loader-bg:#363636af;
$border-light: white;

// mixins //
@mixin easeOut() {
  transition: all 0.2s ease-out;
}

// tag css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark-bg;
}

a {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

div.content-container {
  margin-top: 3vh;
}

// tooltip //
.tooltip > .tooltip-inner  {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid FFFFFF; 
}

.tooltip-arrow {
  border-right: 10px solid FFFFFF;
}

// loader //
#new-card-message-container {
  display:none;
}
.loader {
  display:none;
  z-index:10;
  background: $loader-bg;
  position:fixed;
  top:0px;
  height: 100%;
  width: 100%;
  #loader-icon {
    color:rgb(236, 119, 22);
    position:fixed;
    top:40%;
    left:40%;
    z-index:10;
  }
}
.show {
  display:block;
}
.hide {
  display:none;
}

// edit collection //
tr {
  line-height: 1px;
}
.fixed-search-bar {
  min-width: 350px;
  max-width: 500px;
}
.card-container {
  width:400px;
}
.table-container {
  max-height: 500px;
  .card-in-list {
    @include easeOut();
    &:hover {
      background: $primary-dark-container;
    }
  }
}

.deck-card-container {
  @include easeOut();
  height: 250px;
  width: 250px;
  min-width: 250px;
  background-color: $primary-dark-container;
  border: 2px solid $dark-bg;
  &:hover { 
    border: 2px solid white;
    background: $secondary-dark-container;
  }
  .img-prev-container {
    position: relative;
    .img-prev {
      @include easeOut();
      width: 35%;
      position: absolute;
      left: -20px;
      top: 5px;
      border-radius: 5px;
    }
    :nth-child(1) {
      @include easeOut();
      transform: translate3d(30px, 0px, 0px);
      z-index: 3;
    }
    :nth-child(2) {
      @include easeOut();
      transform: translate3d(90px, 0px, 0px);
      z-index: 2;
    }
    :nth-child(3) {
      @include easeOut();
      transform: translate3d(150px, 0px, 0px);
      z-index: 1;
    }
  }
  .deck-prop-container {
    color: $text-color;
    position: relative;
    top: 75%;
  }
}
