#test {
  background-color: blue;
}

.container {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: white;
  box-sizing: border-box;
}

/* index css */
.index-background {
  background-image: linear-gradient(to bottom, transparent, black),
    url("https://wallpaperplay.com/walls/full/d/f/5/211210.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* 	later add the image locally to the server instead of linking to it	 */
}
.login-background {
  background-image: url("https://images.alphacoders.com/265/265693.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  position: relative;
  display: inline-block;
}

.blur:before {
  content: "";
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.indexh1 {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  /* transform-style: preserve 3D; */
  perspective: 100px;
}

.indexh1::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("https://wallpaperplay.com/walls/full/d/f/5/211210.jpg") content("");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.indexh1::after {
  background: F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  left: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-pop-in {
  animation: pop-in 1s ease-out forwards;
}

.container {
  display: flex;
}
