<% include partials/header %>

<div class ="container-fluid">
	<div class ="row"> 	

		<div class= "col-lg-2">
		</div>

		<div class= "col-lg-8">
			<div class = "center">
				<h1 class="animate-pop-in indexh1" >
					About Us
				</h1>
				<h6 class="animate-pop-in indexh1">
					Your needs of managing your collections can finally be met
				</h6>	
			</div>
		</div>

		<div class = "col-lg-2">


		</div>

	</div>

	<div class ="row"> 	

		<div class= "col-lg-2">
		</div>

		<div class= "col-lg-8">

		</div>

		<div class = "col-lg-2">


		</div>

	</div>
</div>


<% include partials/footer %>
